.channel {
    background-color: #f2f2f2;
    border-right: #eeeeee 1px solid;
}

.menu-item {
    margin: 10px 0;
}

.menu-item:hover {
    background-color: #eeeeee;
}

.nav-item{
    text-decoration: none;
    width: 100%;
}