
dialog::backdrop {
    background: rgba(0, 0, 0, 0.3);
}

/* Dialog */
.mdl-dialog {
    border: none;
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
    width: 500px;
}

.mdl-dialog__title {
    padding: 24px 24px 0;
    margin: 0;
    font-size: 2.5rem;
}

.mdl-dialog__actions {
    padding: 8px 0px 8px 0px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mdl-dialog__actions > * {
    margin-right: 8px;
    width: 48%;
    height: 36px;
}

.mdl-dialog__actions > *:first-child {
    margin-right: 0;
}

.mdl-dialog__actions--full-width {
    padding: 0 0 8px 0;
}

.mdl-dialog__actions--full-width > * {
    height: 48px;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding-right: 16px;
    margin-right: 0;
    text-align: right;
}

.mdl-dialog__content {
    padding: 20px 24px 24px 24px;
    color: rgba(0, 0, 0, 0.54);
}



form {
    //margin: 10px;
    .photo-card {
        margin-bottom: 30px;
    }

    h2 {
        color: #1e1e1e;
        font-size: 14px;
        align-self: center;
    }

    button {
        height: 30px;
        width: 200px;
    }

    input {
        padding: 4px;
        font-size: 18px;
        margin-bottom: 10px;
        width: 100%;
    }

    //
    .InteresCont {
        width: 42px!important;
    }
}

.formItems {
    margin-right: 20px;
}

.formItemsInterest {
    margin-right: 7px;
}

.intersts-card {
    padding: 8px 0 8px 0;
}

.user-image-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.personPhoto:hover {
    cursor: pointer;

    // вот тут в js при наводке затеняем и открываем окно выбора фото
}
