$bg_color: #FAFAFA;

body {
    background-color: $bg_color;
    margin: 0;
    padding: 0;
    height: 100%;

    h1, h2, h3, h4, h5 {
        margin: 0;
        padding: 0;
    }

    .AppContainer {
        display: flex;
        flex-direction: column;
        height: 100%;

        .Channel {
            display: flex;
            flex-direction: row;
            height: 100%;

            .ChannelItem {
                margin: 0 20px;
            }
        }

        .Neighbor {
            display: flex;
            flex-direction: row;

            .NeighborItem {
                margin: 0 20px;
            }
        }
    }
}

