$bg_color: #FAFAFA;

body {
    background-color: $bg_color;
    margin: 0;
    padding: 0;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 0;
    }

    .AppContainer {
        height: 100%;
        display: flex;
        flex-direction: column;

        .Channel {
            display: flex;
            flex-direction: row;
            height: 100%;
            .ChannelItem {

            }
        }

        .Neighbor {
            display: flex;
            flex-direction: row;

            .NeighborItem {
                margin: 0 20px;
            }
        }
    }
}

